@import './partials/_variables.scss';
@import './partials/_fonts.scss';
@import './partials/_icons.scss';
@import './partials/_input.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: 'SourceSans', sans-serif;
	text-align: center;
}
#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    margin: auto;
    padding: 1rem;
    font-size: 1.5rem;
    width: 1024px;
    border-radius: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

p.small {
    font-size: 0.75em;
}
.content > div:not(:last-child) {
    margin-bottom: 1rem;
}
