@font-face {
	font-family: 'SourceCode';
    src:
    url('/assets/fonts/sourceCode/SourceCodePro-Regular.otf.woff2') format('woff2'),
    url('/assets/fonts/sourceCode/SourceCodePro-Regular.otf.woff') format('woff'),
    url('/assets/fonts/sourceCode/SourceCodePro-Regular.ttf')  format('truetype')
}

@font-face {
	font-family: 'SourceSans';
    src:
    url('/assets/fonts/sourceSans/SourceSans3-Regular.otf.woff2') format('woff2'),
    url('/assets/fonts/sourceSans/SourceSans3-Regular.otf.woff') format('woff'),
    url('/assets/fonts/sourceSans/SourceSans3-Regular.ttf')  format('truetype')
}
@font-face {
	font-family: 'SourceSerif';
    src:
    url('/assets/fonts/sourceSerif/SourceSerif4-Regular.otf.woff2') format('woff2'),
    url('/assets/fonts/sourceSerif/SourceSerif4-Regular.otf.woff') format('woff'),
    url('/assets/fonts/sourceSerif/SourceSerif4-Regular.ttf')  format('truetype')
}