@font-face {
	font-family: 'SourceCodePro';
	src: url('/assets/fonts/sourcecodepro/SourceCodePro-Regular.ttf')
		format('truetype');
	src: url('/assets/fonts/sourcecodepro/SourceCodePro-Regular.otf')
		format('opentype');
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('/assets/fonts/sourcesanspro/SourceSansPro-Regular.ttf')
		format('truetype');
	src: url('/assets/fonts/sourcesanspro/SourceSansPro-Regular.otf')
		format('opentype');
}
@font-face {
	font-family: 'SourceSerifPro';
	src: url('/assets/fonts/sourcesanspro/SourceSerifPro-Regular.ttf')
		format('truetype');
	src: url('/assets/fonts/sourcesanspro/SourceSerifPro-Regular.otf')
		format('opentype');
}